<!-- Main template with HTML file -->
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Techblogoly</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <header>
    </header>
    <main>
      <!-- The following line is a place holder for where the main content will be rendered. -->
      {{{body}}}
    </main>
  </body>
</html>